.header {
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.title {
    font-size: 36px;
    margin: 0;
}
  
.subtitle {
    font-size: 18px;
    margin: 0;
}
  